<!-- special version of body for proper table of contents working -->
<body data-spy="scroll" data-target="#toc">


<!-- NAVBAR -->
<nav class="navbar navbar-expand-md fixed-top navbar-hide transition" style="color: white;">

  <!-- empty link for proper button display on small size screens -->
  <a class="navbar-brand" href="#"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" aria-label="toggle navig">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="{{ $.Site.BaseURL }}">Home</a>
      </li>
      {{ range $.Site.Menus.main }}
      {{ $current_cat := .Identifier }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ .Name }}</a>
        <div class="dropdown-menu">
            {{ range sort (where $.Site.Pages "Params.categories" "intersect" (slice $current_cat)) "Title" }}
            <a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a>
            {{end}}
        </div>
      </li>
    {{ end }}
    </ul>
  </div>  

</nav>


<!-- HEADING -->
<div class="jumbotron text-center" id="header">

  <h1 style="color: white;">My First Bootstrap 4 Page</h1>

  <p style="color: white;">Resize this responsive page to see the effect!</p> 

</div>
